.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
}

.heading {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.btn-translate {
  margin: 2rem auto;
}
